<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
     <h1>welcome  to sahand shop </h1>
    <h1>  ادرس ما :مجتمع تجاری الماس شرق 
      ورودی 3 طبقه دوم  
      خرید اینترنتی :09019465509
      ارسال  به  تمام نقاط کشور</h1>
<p>برای همه ما پیش آمده که برای خرید کردن هزاران سوال در ذهنمان به وجود می آید؛ کجا برم؟ چقدر هزینه کنم؟ از چه برندی خرید کنم؟
    از این رو یک خرید خوب نیازمند برنامه ریزی و بودجه بندی است که در اینجا با نکاتی که باید رعایت کنید آشنا می شوید :
    
           تهیه لیست خرید
    
    به همراه داشتن یک لیست خرید خوب باعث می شود که تنها اقلامی را که مورد نیاز است تهیه و از خرید کالاهای غیر ضروری خودداری کنید. پس کاغذ و قلم را برداشته و یک لیست از مایحتاج خود بنویسید. پیشنهاد می شود یک دفتر یادداشت خرید داشته باشید.
    
           رفع گرسنگی
    
    
       حتما قبل از خرید غذایی ساده میل کنید تا در زمان خرید گرسنگی باعث عجله کردن در خرید نشود. همچنین گرسنگی باعث می شود که بدون حوصله کالاهایی تهیه کنید که بعدا از خرید آن پشیمان شوید.</p>
     
       بودجه بندی

       به این صورت که یک مقدار معین برای خرید در نظر بگیرید و پول بیشتری به همراه خود نداشته باشید تا اگر کالای غیر ضروری مشاهده کردید هوس خرید آن به سرتان نزند و کالاهای مورد نیاز خود را با قیمت کمتری خریداری کنید.
       
              به همراه داشتن ساک کاغذی یا پارچه ای
       
       این نوع ساک ها علاوه بر استحکام و جادار بودن به محیط زیست کمک می کند و بندنخی یا پارچه ای آن باعث می شود که موقع حمل آن اذیت نشوید. 
       
              زمان بندی خرید
       
       برای خرید کردن ساعاتی از روز را انتخاب کنید که خلوت باشد و در بهار و تابستان گرم یا در پاییز و زمستان سرد نباشد. همچنین روزی را که وقت و حوصله بیشتری دارید به خرید اختصاص دهید. زمان خرید به خود شما بستگی دارد؛ صبح، عصر یا شب ؟!
       
              تحقیق درباره کالای مورد نیاز
       
     
            
            
              حال آمادگی رفتن به یک خرید برنامه ریزی شده را دارید زیرا چیزی از قلم نینداخته اید. اما ممکن است شما قصد خرید داشته باشید اما نمی توانید به بازار یا فروشگاه ها مراجعه کنید پس تصمیم می گیرید که خرید اینترنتی داشته باشید. حال برای یک خرید اینترنتی موفق باید نکات زیر را مورد توجه قرار دهید.

              به سراغ برندهای شناخته شده بروید.
              کالای مورد نیاز خود را از هر لحاظ بشناسید.
              محصول را با برندهای دیگر مقایسه کنید.
              مطمئن باشید که فروشگاه اینترنتی که از آن خرید می کنید، پشتیبانی و خدمات خوبی به شما ارائه می دهند.
              از ارائه اطلاعات شخصی که برای خرید نیاز نیست خودداری کنید.
         </p> در حال حاضر شما یک خرید کننده حرفه ای هستید ... !    
         </body>
         </html>